<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/shemas/NLog.xsd"
	  xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogLevel="Info"
	  internalLogFile="..\temp\internal-nlog.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	
	<targets>
		<target xsi:type="File" name="exceptions" fileName="..\temp\skitLogs\nlog-all-exceptions-${shortdate}.log"
			layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message}${exception:format=tostring}"/>
		
		<target xsi:type="File" name="allfile" fileName="..\temp\skitLogs\nlog-all-${shortdate}.log" 
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message}${exception:format=tostring}"/>
	</targets>

	<rules>
		<logger name="skitBackend.*" minlevel="Error" writeTo="exceptions" />
		<logger name="*" minlevel="Trace" writeTo="allfile" />
	</rules>
</nlog>